* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../img/IT.jpg");
  background-size: cover;
  background-position-y: -10px;
  margin: 0;
  padding: 0;
}
#LOGO img {
  max-width: 50px;
  height: auto;
}
#Main {
  background-color: black;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 0 250px;
  margin: 0;
}
ul {
  list-style: none;
}
ul.main_menu {
  display: flex;
  padding: 0;
  margin: 0;
}
ul.main_menu > li {
  display: block;
  margin: 0;
}
ul.main_menu > li a {
  display: block;
  padding: 18px 20px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: aliceblue;
}
ul.main_menu li {
  position: relative;
}
ul.sub_main {
  position: absolute;
  background-color: rgb(27, 26, 26);
  margin: 0;
  padding: 0;
  width: 130px;
  border: 0.5px solid rgb(101, 101, 101);
  border-bottom: none;
  display: none;
}

li:hover > ul.sub_main {
  display: block;
}

ul.sub_main > li > a {
  display: block;
  border-bottom: solid 1px rgb(88, 85, 85);
  text-align: left;
  padding: 10px;
  padding-left: 20px;
}
/* Làm đẹp */
ul.sub_main > li > a:hover {
  border-bottom: solid 1px rgb(255, 255, 255);
  font-size: 16.5px;
}
ul.sub_main ul.sub_main {
  left: 130px;
  top: 0px;
}
ul.main_menu > li > a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  position: relative;
}
ul.main_menu > li > a::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  height: 2px;
  width: 0%;
  background: brown;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
ul.main_menu > li > a:hover::before {
  width: 100%;
}